:root {
    --border: 10px solid black;
    --board-size: 400px;

    --purple: #47346a;
    --blue: #667b9d;
    --green: #97bfb5;
    --yellow: #eeedda;
    --brown: #ccb5a7;
    --red: #b57e8f;
    --magenta: #914c89;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: var(--blue);
}

#gameboard {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    border: var(--border);
    height: var(--board-size);
    width: var(--board-size);
    border-radius: 14px;
}

.game-square {
    border: var(--border);
    border-collapse: separate;
    font-size: 6em;
    text-align: center;
    font-weight: bold;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    background-color: var(--brown);
}

button {
    border-radius: 8px;
    border: 2px solid black;
    font-weight: bolder;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.controls button {
    height: 80px;
    width: 160px;
    font-size: x-large;
}

button:active {
    /* transform: translateY(1px); */
    transform: scale(95%);
}

.start {
    background-color: var(--green);
}

.reset {
    background-color: var(--red);
}

.controls {
    display: flex;
    gap: 50px;
    margin: 50px;
}

.change-name {
    height: 30px;
}

.player {
    font-size: 3em;
}

.players {
    display: flex;
    justify-content: space-around;
    margin: 40px;
}

.victory-message {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;
}

#player-names {
    display: flex;
    flex-direction: column;
    padding: 100px;
    gap: 50px;
    text-align: center;
}

.select-player-name-container {
    display: grid;
    grid-template-columns: 200px 1fr;
}

.select-player-name-container label {
    font-size: 2em;
    font-weight: bold;
}

.select-player-name-container input {
    font-size: x-large;
    padding-left: 20px;
}

#submit-names {
    font-size: 3em;
    background-color: var(--green);
}